<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTrack-Eventos</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/eventos.css">
    <link rel="stylesheet" href="../css/nav.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

</head>
<body>
    <header>
    <nav>
        <ul class="navbar">
            <a href="home.html">
                <img src="../images/logo_site_verde_musgo.jpg" alt="Logo do site" id="logo">
            </a>
            <li><a href="home.html">Home</a></li>
            <li class="dropdown">
                <a href="" class="dropbtn">Medicamentos</a>
                <div class="dropdown-content">
                    <a href="">Cadastrar Medicamento</a>
                    <a href="">Lista de Medicamentos</a>
                </div>
            </li>
            <li><a href="">Alertas e Lembretes</a></li>
            <li class="dropdown">
                <a href="" class="dropbtn">Estoque</a>
                <div class="dropdown-content">
                    <a href="">Gerenciar Estoque</a>
                    <a href="">Relatórios</a>
                </div>
            </li>
            <li><a href="">Configurações</a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </nav>
    </header>
    <main>
    <div id="calendar"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'pt-br',
                events: '/api/eventos',
                dateClick: function(info) {
                    alert('Você clicou em ' + info.dateStr);
                }
            });
            calendar.render();
        });
    </script>
     <script>
        document.querySelectorAll('.dropdown').forEach(item => {
            item.addEventListener('mouseover', () => {
                item.querySelector('.dropdown-content').style.display = 'block';
            });

            item.addEventListener('mouseout', () => {
                item.querySelector('.dropdown-content').style.display = 'none';
            });
        });
    </script>
    </main>
    </body>
</html>