<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTrack-Home</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/nav.css">
</head>

<body>
    <header>
        <nav>
            <ul class="navbar">
                <a href="home.html">
                    <img src="../images/logo_site_verde_musgo.jpg" alt="Logo do site" id="logo">
                </a>
                <li><a href="eventos.html">Eventos</a></li>
                <li class="dropdown">
                    <a href="" class="dropbtn">Medicamentos</a>
                    <div class="dropdown-content">
                        <a href="">Cadastrar Medicamento</a>
                        <a href="">Lista de Medicamentos</a>
                    </div>
                </li>
                <li><a href="">Alertas e Lembretes</a></li>
                <li class="dropdown">
                    <a href="" class="dropbtn">Estoque</a>
                    <div class="dropdown-content">
                        <a href="">Gerenciar Estoque</a>
                        <a href="">Relatórios</a>
                    </div>
                </li>
                <li><a href="">Configurações</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>MedTrack</h1>
    </main>
</body>
<footer></footer>

</html>