<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTrack-Entrar</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/button.css">
</head>

<body>
    <header>
        <nav>
            <a href="login.html">
                <img src="../images/logo_site_verde_musgo.jpg" alt="Logo do site" id="logo">
            </a>
            <div id="auth-buttons">
                <a href="login.html" class="button" id="login-button">Entrar</a>
                <a href="cadastre-se.html" class="button" id="register-button">Cadastre-se</a>
            </div>
        </nav>
    </header>
    <main>
        <section id="login-section">
            <div id="header-text">
                <h1>Entrar</h1>
                <h5>Informe seu e-mail e senha para entrar</h5>
            </div>
            <form id="form-container">
                <input type="email" id="email-input" class="input" placeholder="Email"
                    pattern=".+@(outlook\.com|gmail\.com|yahoo\.com\|hotmail\.com)" required>
                <input type="password" id="password-input" class="input" placeholder="Senha (mínimo de 8 caracteres)" minlength="8"
                    required>
                <input type="submit" value="Entrar" id="submit-button" class="submit-button">
            </form>
            <div id="redirect-links">
                <a href="recuperar-senha.html" class="link">Esqueceu a senha?</a>
                <div id="register-redirect">
                    <p>Não tem uma conta?</p> 
                    <a href="cadastre-se.html" class="link">Cadastre-se</a>
                </div>
            </div>
        </section>
        <section id="logo-section">
            <img src="../images/logo_site_verde_musgo.jpg" alt="Logo do site" id="large-logo">
        </section>
    </main>
</body>

</html>
