.container_tela{
    background-color: darkturquoise;
    height: 100vh;
    justify-self: center;
    align-content: center;
    width: 100%;
}

.container_cadastro{
    background-color: white;
    padding: 50px;
    text-align: center;
    width: 50%;
    justify-self: center;
}

@media screen and (max-width:433px) {
    .container_cadastro{
        width: 65%;     
    }
}
