.container_desenho{
    background-color: #A7E0C2;
    color: black;
    width: 40%;
    height: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }
    
