body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#calendar {
    display: flex;
    width: 80%;
    height: 90%;
    margin-top: 2%;
    background-color: #f9f9f9;
    border: 1px solid var(--terciary-color);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.3);
}

/* Título do cabeçalho */
.fc-toolbar-title {
    font-size: 24px;
    font-weight: bold;
    color:  var(--quaternary-color);
}


/* Botões de navegação */
.fc-button {
    background-color: black;
    border: none;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
}

.fc-button:hover {
    background-color: var(--quaternary-color);
}

/* Dias da semana */
.fc-col-header-cell {
    background-color: var(--terciary-color);
    color: white;
    font-weight: bold;
}

/* Eventos */
.fc-event {
    background-color: var(--terciary-color);
    border: none;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 12px;
}

.fc-event:hover {
    background-color: black;
}

/* Dia atual */
.fc-day-today {
    background-color: black;
}