:root {
    --primary-color: #ffff;
    --secondary-color: #7ADAAC;
    --terciary-color: #41745C;
    --quaternary-color: #162c22;
    --logo-color:#637a5e;

    --text-color: #000;
    --text-color-2: #fff;
    --font-family-1: 'Arial', sans-serif;
    --font-family-2: 'Georgia', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
  }

#logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-top: 2px;
}

.link:hover{
    color: var(--secondary-color);
    cursor: pointer;

}